.header {
  padding: 0 $spacer * 14;
  @include breakpoint($md) {
    padding: 0 $spacer * 5 ;
  }
  @include breakpoint($nav-col) {
    padding: 0;
  }
}


.navbar {
  // logo and list
  @include breakpoint($nav-col) {
    flex-direction: column;
  }
  &__brand-link {
    padding: 30px 32px;
    @include breakpoint($lg) {
      padding: 30px 20px;
    }
    @include breakpoint($nav-col) {
      padding: 10px 20px;
      @include stretchedLink;
      
    }
  }

}
// 選單部分
.nav {
  max-width: 556px;
  @include breakpoint($lg) {
    max-width: 460px;
  }
  @include breakpoint($nav-col) {
    flex-wrap: wrap;
    width: 100%;      // 回歸滿版
    max-width: 100%;  // 但因為上面斷點有設定max-width，要清掉
    border-top: 1px solid;
    border-left: 1px solid;
  }
  &-item {
    // position: relative;
    @include breakpoint($nav-col) {
      width: 50%;     // 滿版
    }
  }
  &-link {
    display: block;
    padding: $spacer * 8;
    font-size: 1.25rem;
    @include breakpoint($lg) {
      padding: $spacer * 8 $spacer * 5;
    }
    @include breakpoint($nav-col) {
      border-right: 1px solid;
      border-bottom: 1px solid;
      padding: $spacer * 2;
    }

  }
}


.footer {
  padding: $spacer * 10 0;
  @include breakpoint($md) {
    padding: $spacer * 8 0;
  }
  @include breakpoint($sm) {
    padding: $spacer * 6 0;
  }
}


.footer__nav {
  &-item {
    
    margin-right: $spacer * 10;
    @include breakpoint($footer-nav) {
      margin-right: $spacer * 5;
    }

    
  }
  &-link {
    display: block;
    padding: $spacer 0;
  }
}
.footer__contacts {
  &-item {
    margin-left: $spacer * 8;
    @include breakpoint($sm) {
      margin-left: $spacer * 6;
    }

  }
}
.footer__policy {
  &-item {
    margin-left: $spacer * 8;
    @include breakpoint($md) {
      margin-left: $spacer * 6;
    }
    @include breakpoint($sm) {
      margin-left: 0;
    }
  }
}
// .footer__bar {
//   color: $white;
// }



.icon-tel {
  &::before {
    @include MaterialIconBefore("call", $spacer * 4);
    @include breakpoint($md) {
      padding-right: $spacer * 2;
    }
    @include breakpoint($sm) {
      padding-right: 5px;
    }
  }
}
.icon-mail {
  &::before {
    @include MaterialIconBefore("email", $spacer * 4);
    @include breakpoint($md) {
      padding-right: $spacer * 2;
    }
    @include breakpoint($sm) {
      padding-right: 5px;
    }
  }
}