<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"> 
  <!-- Material icons -->
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <!-- https://hexschool.github.io/webLayoutTraining1st/week3/photo.png -->
  <header class="header bg-primary">
    <nav class="navbar">
      <h1><a class="navbar__brand-link" href="/"><img class="navbar__brand" src="https://hexschool.github.io/webLayoutTraining1st/week3/logo.png"] alt="glasses' logo"></a></h1>
      <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="#">系列鏡框</a></li>
        <li class="nav-item"><a class="nav-link" href="#">門市據點</a></li>
        <li class="nav-item"><a class="nav-link" href="#">部落格</a></li>
        <li class="nav-item"><a class="nav-link" href="#">常見問題</a></li>
      </ul>
    </nav>
  </header>

  <%- contents %>

  <footer class="footer bg-primary">
    <div class="container">
      <ul class="footer__nav">
        <li class="footer__nav-item">系列鏡框</li>
        <li class="footer__nav-item">門市據點</li>
        <li class="footer__nav-item">部落格</li>
        <li class="footer__nav-item">常見問題</li>
      </ul>
      <ul>
        <li><a href="#">
          <img src="https://hexschool.github.io/webLayoutTraining1st/week3/logo-facebook.svg"] alt="logo-facebook">
        </a></li>
        <li><a href="#">
          <img src="https://hexschool.github.io/webLayoutTraining1st/week3/logo-instagram.svg"] alt="logo-instagram"> 
        </a></li>
        <li><a href="#">
          <img src="https://hexschool.github.io/webLayoutTraining1st/week3/icon-line.svg"] alt="icon-line">
        </a></li>
      </ul>
      <ul>
        <li>
          <a href="tel:+0800000000">0800-000-000</a>
        </li>
        <li>
          <a href="mailto:glasses@business.com">glasses@business.com</a>
        </li>
      </ul>
      <hr>
      <div class="policy">
        <small>Copyright © 2020 Glasses.All rights reserved.</small>
        <a href="#">隱私權政策</a>
        <a href="#">服務條款</a>
      </div>
    </div>
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
