.container {
  margin: 0 auto;
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px; }
  @media (max-width: 768px) {
    .container {
      max-width: 720px;
      padding-left: 15px;
      padding-right: 15px; } }
  @media (max-width: 576px) {
    .container {
      max-width: 360px;
      padding-left: 7.5px;
      padding-right: 7.5px; } }

.container-md {
  margin: 0 auto;
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px; }
  @media (max-width: 768px) {
    .container-md {
      max-width: 720px;
      padding-left: 15px;
      padding-right: 15px; } }
  @media (max-width: 576px) {
    .container-md {
      max-width: 100%;
      padding-left: 7.5px;
      padding-right: 7.5px; } }

.col-1 {
  width: 8.33333%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding-left: 15px;
  padding-right: 15px; }
  @media (max-width: 768px) {
    .col-1 {
      padding-left: 15px;
      padding-right: 15px; } }
  @media (max-width: 576px) {
    .col-1 {
      padding-left: 7.5px;
      padding-right: 7.5px; } }

.col-2 {
  width: 16.66667%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding-left: 15px;
  padding-right: 15px; }
  @media (max-width: 768px) {
    .col-2 {
      padding-left: 15px;
      padding-right: 15px; } }
  @media (max-width: 576px) {
    .col-2 {
      padding-left: 7.5px;
      padding-right: 7.5px; } }

.col-3 {
  width: 25%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding-left: 15px;
  padding-right: 15px; }
  @media (max-width: 768px) {
    .col-3 {
      padding-left: 15px;
      padding-right: 15px; } }
  @media (max-width: 576px) {
    .col-3 {
      padding-left: 7.5px;
      padding-right: 7.5px; } }

.col-4 {
  width: 33.33333%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding-left: 15px;
  padding-right: 15px; }
  @media (max-width: 768px) {
    .col-4 {
      padding-left: 15px;
      padding-right: 15px; } }
  @media (max-width: 576px) {
    .col-4 {
      padding-left: 7.5px;
      padding-right: 7.5px; } }

.col-5 {
  width: 41.66667%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding-left: 15px;
  padding-right: 15px; }
  @media (max-width: 768px) {
    .col-5 {
      padding-left: 15px;
      padding-right: 15px; } }
  @media (max-width: 576px) {
    .col-5 {
      padding-left: 7.5px;
      padding-right: 7.5px; } }

.col-6 {
  width: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding-left: 15px;
  padding-right: 15px; }
  @media (max-width: 768px) {
    .col-6 {
      padding-left: 15px;
      padding-right: 15px; } }
  @media (max-width: 576px) {
    .col-6 {
      padding-left: 7.5px;
      padding-right: 7.5px; } }

.col-7 {
  width: 58.33333%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding-left: 15px;
  padding-right: 15px; }
  @media (max-width: 768px) {
    .col-7 {
      padding-left: 15px;
      padding-right: 15px; } }
  @media (max-width: 576px) {
    .col-7 {
      padding-left: 7.5px;
      padding-right: 7.5px; } }

.col-8 {
  width: 66.66667%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding-left: 15px;
  padding-right: 15px; }
  @media (max-width: 768px) {
    .col-8 {
      padding-left: 15px;
      padding-right: 15px; } }
  @media (max-width: 576px) {
    .col-8 {
      padding-left: 7.5px;
      padding-right: 7.5px; } }

.col-9 {
  width: 75%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding-left: 15px;
  padding-right: 15px; }
  @media (max-width: 768px) {
    .col-9 {
      padding-left: 15px;
      padding-right: 15px; } }
  @media (max-width: 576px) {
    .col-9 {
      padding-left: 7.5px;
      padding-right: 7.5px; } }

.col-10 {
  width: 83.33333%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding-left: 15px;
  padding-right: 15px; }
  @media (max-width: 768px) {
    .col-10 {
      padding-left: 15px;
      padding-right: 15px; } }
  @media (max-width: 576px) {
    .col-10 {
      padding-left: 7.5px;
      padding-right: 7.5px; } }

.col-11 {
  width: 91.66667%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding-left: 15px;
  padding-right: 15px; }
  @media (max-width: 768px) {
    .col-11 {
      padding-left: 15px;
      padding-right: 15px; } }
  @media (max-width: 576px) {
    .col-11 {
      padding-left: 7.5px;
      padding-right: 7.5px; } }

.col-12 {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding-left: 15px;
  padding-right: 15px; }
  @media (max-width: 768px) {
    .col-12 {
      padding-left: 15px;
      padding-right: 15px; } }
  @media (max-width: 576px) {
    .col-12 {
      padding-left: 7.5px;
      padding-right: 7.5px; } }

@media (max-width: 768px) {
  .col-md-1 {
    width: 8.33333%; }
  .col-md-2 {
    width: 16.66667%; }
  .col-md-3 {
    width: 25%; }
  .col-md-4 {
    width: 33.33333%; }
  .col-md-5 {
    width: 41.66667%; }
  .col-md-6 {
    width: 50%; }
  .col-md-7 {
    width: 58.33333%; }
  .col-md-8 {
    width: 66.66667%; }
  .col-md-9 {
    width: 75%; }
  .col-md-10 {
    width: 83.33333%; }
  .col-md-11 {
    width: 91.66667%; }
  .col-md-12 {
    width: 100%; } }

@media (max-width: 576px) {
  .col-sm-1 {
    width: 25%; }
  .col-sm-2 {
    width: 50%; }
  .col-sm-3 {
    width: 75%; }
  .col-sm-4 {
    width: 100%; } }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }
  @media (max-width: 768px) {
    .row {
      margin-right: -15px;
      margin-left: -15px; } }
  @media (max-width: 576px) {
    .row {
      margin-right: -7.5px;
      margin-left: -7.5px; } }

.col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 15px;
  padding-right: 15px; }
  @media (max-width: 768px) {
    .col {
      padding-left: 15px;
      padding-right: 15px; } }
  @media (max-width: 576px) {
    .col {
      padding-left: 7.5px;
      padding-right: 7.5px; } }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: Roboto, "Noto Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    color: #650300; }

hr {
  color: inherit; }

label {
  display: block; }

input {
  border: 1px solid;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 16px; }

.bg-primary {
  background-color: #AA0601;
  color: #fff; }

.bg-primary-light {
  background-color: #FBF2F2; }

.bg-primary {
  background-color: #AA0601; }

.bg-secondary {
  background-color: #111619; }

.bg-primary-light {
  background-color: #FBF2F2; }

.bg-primary-dark {
  background-color: #650300; }

.bg-white {
  background-color: #fff; }

.primary {
  color: #AA0601; }

.secondary {
  color: #111619; }

.primary-light {
  color: #FBF2F2; }

.primary-dark {
  color: #650300; }

.white {
  color: #fff; }

.btn-primary {
  border: 0;
  padding: 16px; }
  @media (max-width: 768px) {
    .btn-primary {
      padding: 10px; } }
  @media (max-width: 576px) {
    .btn-primary {
      padding: 8px; } }
  .btn-primary:hover {
    background: #111619; }
  .btn-primary:active {
    background: #650300; }

.mx-auto {
  margin-right: auto;
  margin-left: auto; }

.mb-0 {
  margin-bottom: 0; }

.mb-1 {
  margin-bottom: 4px; }

.mb-2 {
  margin-bottom: 8px; }

.mb-3 {
  margin-bottom: 12px; }

.mb-4 {
  margin-bottom: 16px; }

.mb-5 {
  margin-bottom: 20px; }

.mb-6 {
  margin-bottom: 24px; }

.mb-7 {
  margin-bottom: 28px; }

.mb-8 {
  margin-bottom: 32px; }

.mb-9 {
  margin-bottom: 36px; }

.mb-10 {
  margin-bottom: 40px; }

.mb-11 {
  margin-bottom: 44px; }

.mb-12 {
  margin-bottom: 48px; }

.mb-13 {
  margin-bottom: 52px; }

.mb-14 {
  margin-bottom: 56px; }

.mb-15 {
  margin-bottom: 60px; }

.mb-small {
  margin-bottom: 15px; }

@media (max-width: 768px) {
  .mb-md-0 {
    margin-bottom: 0; }
  .mb-md-1 {
    margin-bottom: 4px; }
  .mb-md-2 {
    margin-bottom: 8px; }
  .mb-md-3 {
    margin-bottom: 12px; }
  .mb-md-4 {
    margin-bottom: 16px; }
  .mb-md-5 {
    margin-bottom: 20px; }
  .mb-md-6 {
    margin-bottom: 24px; }
  .mb-md-7 {
    margin-bottom: 28px; }
  .mb-md-8 {
    margin-bottom: 32px; }
  .mb-md-9 {
    margin-bottom: 36px; }
  .mb-md-10 {
    margin-bottom: 40px; }
  .mb-md-11 {
    margin-bottom: 44px; }
  .mb-md-12 {
    margin-bottom: 48px; }
  .mb-md-13 {
    margin-bottom: 52px; }
  .mb-md-14 {
    margin-bottom: 56px; }
  .mb-md-15 {
    margin-bottom: 60px; }
  .mb-md-small {
    margin-bottom: 15px; } }

@media (max-width: 576px) {
  .mb-sm-0 {
    margin-bottom: 0; }
  .mb-sm-1 {
    margin-bottom: 4px; }
  .mb-sm-2 {
    margin-bottom: 8px; }
  .mb-sm-3 {
    margin-bottom: 12px; }
  .mb-sm-4 {
    margin-bottom: 16px; }
  .mb-sm-5 {
    margin-bottom: 20px; }
  .mb-sm-6 {
    margin-bottom: 24px; }
  .mb-sm-7 {
    margin-bottom: 28px; }
  .mb-sm-8 {
    margin-bottom: 32px; }
  .mb-sm-9 {
    margin-bottom: 36px; }
  .mb-sm-10 {
    margin-bottom: 40px; }
  .mb-sm-11 {
    margin-bottom: 44px; }
  .mb-sm-12 {
    margin-bottom: 48px; }
  .mb-sm-13 {
    margin-bottom: 52px; }
  .mb-sm-14 {
    margin-bottom: 56px; }
  .mb-sm-15 {
    margin-bottom: 60px; }
  .mb-sm-small {
    margin-bottom: 15px; } }

.radius-round {
  border-radius: 4px; }

.radius-top {
  border-radius: 4px 4px 0 0; }

.radius-bottom {
  border-radius: 0 0 4px 4px; }

.text-center {
  text-align: center; }

.text-end {
  text-align: right; }

.text-size-inherit {
  font-size: inherit; }

@media (max-width: 576px) {
  .lh-sm-30 {
    line-height: 30px; } }

.weight-normal {
  font-weight: 400; }

.weight-medium {
  font-weight: 500; }

.weight-bold {
  font-weight: 700; }

.weight-black {
  font-weight: 900; }

.fs-4 {
  font-size: 1rem; }

.fs-5 {
  font-size: 1.25rem; }

.fs-6 {
  font-size: 1.5rem; }

.fs-7 {
  font-size: 1.75rem; }

.fs-8 {
  font-size: 2rem; }

.fs-9 {
  font-size: 2.25rem; }

.fs-12 {
  font-size: 3rem; }

.fs-16 {
  font-size: 4rem; }

.fs-18 {
  font-size: 4.5rem; }

@media (max-width: 768px) {
  .fs-md-4 {
    font-size: 1rem; }
  .fs-md-5 {
    font-size: 1.25rem; }
  .fs-md-6 {
    font-size: 1.5rem; }
  .fs-md-7 {
    font-size: 1.75rem; }
  .fs-md-8 {
    font-size: 2rem; }
  .fs-md-9 {
    font-size: 2.25rem; }
  .fs-md-12 {
    font-size: 3rem; }
  .fs-md-16 {
    font-size: 4rem; }
  .fs-md-18 {
    font-size: 4.5rem; }
  .weight-md-normal {
    font-weight: 400; }
  .weight-md-medium {
    font-weight: 500; }
  .weight-md-bold {
    font-weight: 700; }
  .weight-md-black {
    font-weight: 900; } }

@media (max-width: 576px) {
  .fs-sm-4 {
    font-size: 1rem; }
  .fs-sm-5 {
    font-size: 1.25rem; }
  .fs-sm-6 {
    font-size: 1.5rem; }
  .fs-sm-7 {
    font-size: 1.75rem; }
  .fs-sm-8 {
    font-size: 2rem; }
  .fs-sm-9 {
    font-size: 2.25rem; }
  .fs-sm-12 {
    font-size: 3rem; }
  .fs-sm-16 {
    font-size: 4rem; }
  .fs-sm-18 {
    font-size: 4.5rem; }
  .weight-sm-normal {
    font-weight: 400; }
  .weight-sm-medium {
    font-weight: 500; }
  .weight-sm-bold {
    font-weight: 700; }
  .weight-sm-black {
    font-weight: 900; } }

.p-absolute {
  position: absolute; }

.p-relative {
  position: relative; }

.p-sm-relative {
  position: relative; }

.p-sm-absolute {
  position: absolute; }

.d-none {
  display: none; }

.d-block {
  display: block; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.d-inline-block {
  display: inline-block; }

.d-inline {
  display: inline; }

@media (max-width: 768px) {
  .d-md-none {
    display: none; }
  .d-md-block {
    display: block; }
  .d-md-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .d-md-inline-block {
    display: inline-block; }
  .d-md-inline {
    display: inline; } }

@media (max-width: 576px) {
  .d-sm-none {
    display: none; }
  .d-sm-block {
    display: block; }
  .d-sm-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .d-sm-inline-block {
    display: inline-block; }
  .d-sm-inline {
    display: inline; } }

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.align-items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.direction-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

@media (max-width: 768px) {
  .direction-md-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .justify-content-md-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; } }

@media (max-width: 576px) {
  .flex-sm-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .align-items-sm-start {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start; } }

.h-inherit {
  height: inherit; }

.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: ""; }

.icon-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.d-none {
  display: none; }

.d-block {
  display: block; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.d-inline-block {
  display: inline-block; }

.d-inline {
  display: inline; }

@media (max-width: 768px) {
  .d-md-none {
    display: none; }
  .d-md-block {
    display: block; }
  .d-md-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .d-md-inline-block {
    display: inline-block; }
  .d-md-inline {
    display: inline; } }

@media (max-width: 576px) {
  .d-sm-none {
    display: none; }
  .d-sm-block {
    display: block; }
  .d-sm-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .d-sm-inline-block {
    display: inline-block; }
  .d-sm-inline {
    display: inline; } }

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.align-items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.direction-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

@media (max-width: 768px) {
  .direction-md-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .justify-content-md-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; } }

@media (max-width: 576px) {
  .flex-sm-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .align-items-sm-start {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start; } }

.text-center {
  text-align: center; }

.text-end {
  text-align: right; }

.text-size-inherit {
  font-size: inherit; }

@media (max-width: 576px) {
  .lh-sm-30 {
    line-height: 30px; } }

.weight-normal {
  font-weight: 400; }

.weight-medium {
  font-weight: 500; }

.weight-bold {
  font-weight: 700; }

.weight-black {
  font-weight: 900; }

.fs-4 {
  font-size: 1rem; }

.fs-5 {
  font-size: 1.25rem; }

.fs-6 {
  font-size: 1.5rem; }

.fs-7 {
  font-size: 1.75rem; }

.fs-8 {
  font-size: 2rem; }

.fs-9 {
  font-size: 2.25rem; }

.fs-12 {
  font-size: 3rem; }

.fs-16 {
  font-size: 4rem; }

.fs-18 {
  font-size: 4.5rem; }

@media (max-width: 768px) {
  .fs-md-4 {
    font-size: 1rem; }
  .fs-md-5 {
    font-size: 1.25rem; }
  .fs-md-6 {
    font-size: 1.5rem; }
  .fs-md-7 {
    font-size: 1.75rem; }
  .fs-md-8 {
    font-size: 2rem; }
  .fs-md-9 {
    font-size: 2.25rem; }
  .fs-md-12 {
    font-size: 3rem; }
  .fs-md-16 {
    font-size: 4rem; }
  .fs-md-18 {
    font-size: 4.5rem; }
  .weight-md-normal {
    font-weight: 400; }
  .weight-md-medium {
    font-weight: 500; }
  .weight-md-bold {
    font-weight: 700; }
  .weight-md-black {
    font-weight: 900; } }

@media (max-width: 576px) {
  .fs-sm-4 {
    font-size: 1rem; }
  .fs-sm-5 {
    font-size: 1.25rem; }
  .fs-sm-6 {
    font-size: 1.5rem; }
  .fs-sm-7 {
    font-size: 1.75rem; }
  .fs-sm-8 {
    font-size: 2rem; }
  .fs-sm-9 {
    font-size: 2.25rem; }
  .fs-sm-12 {
    font-size: 3rem; }
  .fs-sm-16 {
    font-size: 4rem; }
  .fs-sm-18 {
    font-size: 4.5rem; }
  .weight-sm-normal {
    font-weight: 400; }
  .weight-sm-medium {
    font-weight: 500; }
  .weight-sm-bold {
    font-weight: 700; }
  .weight-sm-black {
    font-weight: 900; } }

.p-absolute {
  position: absolute; }

.p-relative {
  position: relative; }

.p-sm-relative {
  position: relative; }

.p-sm-absolute {
  position: absolute; }

.mx-auto {
  margin-right: auto;
  margin-left: auto; }

.mb-0 {
  margin-bottom: 0; }

.mb-1 {
  margin-bottom: 4px; }

.mb-2 {
  margin-bottom: 8px; }

.mb-3 {
  margin-bottom: 12px; }

.mb-4 {
  margin-bottom: 16px; }

.mb-5 {
  margin-bottom: 20px; }

.mb-6 {
  margin-bottom: 24px; }

.mb-7 {
  margin-bottom: 28px; }

.mb-8 {
  margin-bottom: 32px; }

.mb-9 {
  margin-bottom: 36px; }

.mb-10 {
  margin-bottom: 40px; }

.mb-11 {
  margin-bottom: 44px; }

.mb-12 {
  margin-bottom: 48px; }

.mb-13 {
  margin-bottom: 52px; }

.mb-14 {
  margin-bottom: 56px; }

.mb-15 {
  margin-bottom: 60px; }

.mb-small {
  margin-bottom: 15px; }

@media (max-width: 768px) {
  .mb-md-0 {
    margin-bottom: 0; }
  .mb-md-1 {
    margin-bottom: 4px; }
  .mb-md-2 {
    margin-bottom: 8px; }
  .mb-md-3 {
    margin-bottom: 12px; }
  .mb-md-4 {
    margin-bottom: 16px; }
  .mb-md-5 {
    margin-bottom: 20px; }
  .mb-md-6 {
    margin-bottom: 24px; }
  .mb-md-7 {
    margin-bottom: 28px; }
  .mb-md-8 {
    margin-bottom: 32px; }
  .mb-md-9 {
    margin-bottom: 36px; }
  .mb-md-10 {
    margin-bottom: 40px; }
  .mb-md-11 {
    margin-bottom: 44px; }
  .mb-md-12 {
    margin-bottom: 48px; }
  .mb-md-13 {
    margin-bottom: 52px; }
  .mb-md-14 {
    margin-bottom: 56px; }
  .mb-md-15 {
    margin-bottom: 60px; }
  .mb-md-small {
    margin-bottom: 15px; } }

@media (max-width: 576px) {
  .mb-sm-0 {
    margin-bottom: 0; }
  .mb-sm-1 {
    margin-bottom: 4px; }
  .mb-sm-2 {
    margin-bottom: 8px; }
  .mb-sm-3 {
    margin-bottom: 12px; }
  .mb-sm-4 {
    margin-bottom: 16px; }
  .mb-sm-5 {
    margin-bottom: 20px; }
  .mb-sm-6 {
    margin-bottom: 24px; }
  .mb-sm-7 {
    margin-bottom: 28px; }
  .mb-sm-8 {
    margin-bottom: 32px; }
  .mb-sm-9 {
    margin-bottom: 36px; }
  .mb-sm-10 {
    margin-bottom: 40px; }
  .mb-sm-11 {
    margin-bottom: 44px; }
  .mb-sm-12 {
    margin-bottom: 48px; }
  .mb-sm-13 {
    margin-bottom: 52px; }
  .mb-sm-14 {
    margin-bottom: 56px; }
  .mb-sm-15 {
    margin-bottom: 60px; }
  .mb-sm-small {
    margin-bottom: 15px; } }

.radius-round {
  border-radius: 4px; }

.radius-top {
  border-radius: 4px 4px 0 0; }

.radius-bottom {
  border-radius: 0 0 4px 4px; }

.header {
  padding: 0 56px; }
  @media (max-width: 768px) {
    .header {
      padding: 0 20px; } }
  @media (max-width: 640px) {
    .header {
      padding: 0; } }

@media (max-width: 640px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

.navbar__brand-link {
  padding: 30px 32px; }
  @media (max-width: 992px) {
    .navbar__brand-link {
      padding: 30px 20px; } }
  @media (max-width: 640px) {
    .navbar__brand-link {
      padding: 10px 20px; }
      .navbar__brand-link::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        content: ""; } }

.nav {
  max-width: 556px; }
  @media (max-width: 992px) {
    .nav {
      max-width: 460px; } }
  @media (max-width: 640px) {
    .nav {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      width: 100%;
      max-width: 100%;
      border-top: 1px solid;
      border-left: 1px solid; } }
  @media (max-width: 640px) {
    .nav-item {
      width: 50%; } }
  .nav-link {
    display: block;
    padding: 32px;
    font-size: 1.25rem; }
    @media (max-width: 992px) {
      .nav-link {
        padding: 32px 20px; } }
    @media (max-width: 640px) {
      .nav-link {
        border-right: 1px solid;
        border-bottom: 1px solid;
        padding: 8px; } }

.footer {
  padding: 40px 0; }
  @media (max-width: 768px) {
    .footer {
      padding: 32px 0; } }
  @media (max-width: 576px) {
    .footer {
      padding: 24px 0; } }

.footer__nav-item {
  margin-right: 40px; }
  @media (max-width: 720px) {
    .footer__nav-item {
      margin-right: 20px; } }

.footer__nav-link {
  display: block;
  padding: 4px 0; }

.footer__contacts-item {
  margin-left: 32px; }
  @media (max-width: 576px) {
    .footer__contacts-item {
      margin-left: 24px; } }

.footer__policy-item {
  margin-left: 32px; }
  @media (max-width: 768px) {
    .footer__policy-item {
      margin-left: 24px; } }
  @media (max-width: 576px) {
    .footer__policy-item {
      margin-left: 0; } }

.icon-tel::before {
  content: "call";
  padding-right: 16px;
  font-family: 'Material Icons Outlined';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga'; }
  @media (max-width: 768px) {
    .icon-tel::before {
      padding-right: 8px; } }
  @media (max-width: 576px) {
    .icon-tel::before {
      padding-right: 5px; } }

.icon-mail::before {
  content: "email";
  padding-right: 16px;
  font-family: 'Material Icons Outlined';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga'; }
  @media (max-width: 768px) {
    .icon-mail::before {
      padding-right: 8px; } }
  @media (max-width: 576px) {
    .icon-mail::before {
      padding-right: 5px; } }

.banner {
  background: fixed url(https://hexschool.github.io/webLayoutTraining1st/week3/banner.png) center center/cover no-repeat;
  height: 840px; }
  @media (max-width: 576px) {
    .banner {
      height: 394px; } }

.index-section {
  padding-top: 60px;
  padding-bottom: 80px; }
  .index-section__title {
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 40px; }
    @media (max-width: 768px) {
      .index-section__title {
        font-style: 2rem;
        margin-bottom: 32px; } }
    @media (max-width: 576px) {
      .index-section__title {
        font-size: 1.5rem;
        line-height: 2;
        margin-bottom: 20px; } }
    @media (max-width: 576px) {
      .index-section__title-sub {
        font-size: 1.25rem;
        line-height: 2.4; } }

.index-feature {
  margin-bottom: -32px; }
  .index-feature-card {
    width: 25%; }
    @media (max-width: 768px) {
      .index-feature-card {
        margin-bottom: 32px;
        width: 50%; } }
    @media (max-width: 576px) {
      .index-feature-card {
        width: 100%; } }
    .index-feature-card span {
      font-size: 100px;
      color: #650300;
      margin-bottom: 8px; }
    .index-feature-card-title {
      color: #650300;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 8px; }
    .index-feature-card p {
      max-width: 255px;
      margin: 0 auto; }

.classic__card {
  position: relative; }
  .classic__card-title {
    font-size: 3rem;
    font-weight: 900;
    font-style: italic;
    line-height: 72px;
    color: #AA0601; }
    @media (max-width: 768px) {
      .classic__card-title {
        font-size: 1.75rem; } }
    @media (max-width: 576px) {
      .classic__card-title {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 0;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); } }

.icon-optical::before {
  content: "auto_awesome";
  padding-right: 8px;
  font-family: 'Material Icons Outlined';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga'; }

.icon-sunglasses::before {
  content: "light_mode";
  padding-right: 8px;
  font-family: 'Material Icons Outlined';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga'; }

.icon-functional::before {
  content: "flash_on";
  padding-right: 8px;
  font-family: 'Material Icons Outlined';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga'; }

.collaboration {
  background: fixed url(https://hexschool.github.io/webLayoutTraining1st/week3/bg.png) center/cover no-repeat; }

.link-white-off {
  position: relative; }
  .link-white-off::after {
    background-color: #fff;
    background-clip: content-box;
    opacity: 0.2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
  .link-white-off:hover::after {
    opacity: 0; }

.feedback-card {
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 6px #00000029;
          box-shadow: 0px 2px 6px #00000029; }
  .feedback-card__image {
    width: 100%;
    border-radius: 4px 4px 0 0; }
  .feedback-card__info {
    padding: 16px;
    border: 0 1px 1px 1px solid #DEE2E6;
    border-radius: 0 0 4px 4px; }
    .feedback-card__info-name {
      font-size: 14px;
      font-weight: 500; }
    .feedback-card__info-comment {
      height: 72px;
      margin-bottom: 52px; }
    .feedback-card__info-time {
      font-size: 14px;
      color: #707070; }

.contact-us__label {
  margin-bottom: 4px; }
  .contact-us__label-agreement {
    margin-bottom: 40px; }
    @media (max-width: 768px) {
      .contact-us__label-agreement {
        margin-bottom: 20px; } }

.contact-us__input {
  display: block;
  width: 100%;
  margin-bottom: 8px; }
  @media (max-width: 768px) {
    .contact-us__input {
      margin-bottom: 8px; } }
  .contact-us__input-comment {
    padding-bottom: 68px; }

.contact-us__button {
  display: block; }

/*# sourceMappingURL=all.css.map */
