.header {
  padding: 0 56px;
  @include breakpoint($md) {
    padding: 0 20px;
  }
  @include breakpoint($nav-col) {
    padding: 0;
  }
}


.navbar {
  // logo and list
  @include breakpoint($nav-col) {
    flex-direction: column;
  }
  &__brand-link {
    padding: 30px 32px;
    @include breakpoint($lg) {
      padding: 30px 20px;
    }
    @include breakpoint($nav-col) {
      padding: 10px 20px;
      @include stretchedLink;
      
    }
  }

}
// 選單部分
.nav {
  max-width: 556px;
  @include breakpoint($lg) {
    max-width: 460px;
  }
  @include breakpoint($nav-col) {
    flex-wrap: wrap;
    width: 100%;      // 回歸滿版
    max-width: 100%;  // 但因為上面斷點有設定max-width，要清掉
    border-top: 1px solid;
    border-left: 1px solid;
  }
  &-item {
    // position: relative;
    @include breakpoint($nav-col) {
      width: 50%;     // 滿版
    }
  }
  &-link {
    display: block;
    padding: 32px;
    font-size: 1.25rem;
    @include breakpoint($lg) {
      padding: 32px 20px;
    }
    @include breakpoint($nav-col) {
      border-right: 1px solid;
      border-bottom: 1px solid;
      padding: 8px;
    }

  }
}


.footer {
  padding: 40px 0;
  @include breakpoint($md) {
    padding: 32px 0;
  }
  @include breakpoint($sm) {
    padding: 24px 0;
  }
}


.footer__nav {
  // max-width: 468px;

  &-item {
    
    margin-right: 40px;
    @include breakpoint($md) {
      margin-right: 40px;
    }
    @include breakpoint($footer-nav) {
      margin-right: 20px;
    }

    
  }
  &-link {
    display: block;
    padding: 4px 0;
  }
}
.footer__contacts {
  // max-width: 208px;
  &-item {
    margin-left: 32px;
    @include breakpoint($sm) {
      margin-left: 24px;
      img {
        display: block;
        // line-height: 1.5;
      }
    }

  }
}
.footer__policy {
  &-item {
    margin-left: 48px;
    @include breakpoint($md) {
      margin-left: 24px;
    }
    @include breakpoint($sm) {
      margin-left: 0;
    }
  }
}
// .footer__bar {
//   color: $white;
// }



.footer__icon-tel {
  display: flex;
  &::before {
    @include MaterialIconBefore("call", 16px);
    @include breakpoint($md) {
      padding-right: 8px;
    }
    @include breakpoint($sm) {
      padding-right: 5px;
    }
  }
}
.footer__icon-mail {
  display: flex;
  &::before {
    @include MaterialIconBefore("email", 16px);
    @include breakpoint($md) {
      padding-right: 8px;
    }
    @include breakpoint($sm) {
      padding-right: 5px;
    }
  }
}