@mixin breakpoint($breakpoint) {
  @media (max-width: $breakpoint) {
    @content
  }
}

@mixin blockLink {
  display: block;  
}

@mixin stretchedLink {
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
  }
}
